* {
    margin: 0;
    padding: 0;
}

.search {
    margin: 20px;
    &__input {
        margin: 5px;
        height: 3vh;
        width: 15vw;
    }
}

@media screen and (max-width: 720px) {
    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__input {
            width: 80vw;
        }
    }
    
   
}