@use "../../../variables" as *;

* {
    margin: 0;
    padding: 0;
}

.search {
    margin: 20px;
    &__label {
        font-family: $text-font;
        font-size: 1.4vw;
    }
    &__input {
        height: 3vh;
        width: 15vw;
    }
}

@media screen and (max-width: 720px) {
    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__label {
            font-size: 3.5vw;
        }

        &__input {
            width: 80vw;
        }
    }
    
   
}