@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

$brewdog-font: "Oswald",
cursive;
$text-font: "Heebo",
sans-serif;

$background-color: rgb(150, 221, 221);
$color-white: whitesmoke;
$color-grey: grey;
$color-black: rgb(50, 50, 57);