@use "../../../variables"as *;

* {
    margin: 0;
    padding: 0;
}

.card {
    height: 65vh;
    width: 22vw;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(15, 131, 154, 0.2);
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-white;

    &__image {
        height: 33vh;
        width: auto;
        transition: 0.2s ease-in-out;

        &:hover {
            opacity: 0.5;
        }
    }

    &__content {
        height: 25vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    &__heading {
        height: fit-content;
        width: 20vw;
        font-family: $brewdog-font;
        text-align: center;
        margin: 10px;
        font-size: 1.8vw;
        color: $color-black;
    }

    &__tagline {
        font-family: $text-font;
        height: 3vh;
        font-size: 1.1vw;
        color: $color-grey;
    }

    &__abv {
        font-family: $text-font;
        height: 3vh;
        font-size: 1vw;
        color: $color-grey;
    }
}

@media screen and (max-width: 720px) {
    .card {
        height: 55vh;
        width: 100vw;
        margin: 20px 0px 20px 0px;
        padding: 0;
        flex-direction: row;

        &__content {
            height: 40vh;
            width: 50vw;
            justify-content: space-around;
        }

        &__image {
            height: 40vh;
            padding: 20px;
        }

        &__heading {
            width: 100%;
            font-size: 7vw;
            padding: 20px;
        }

        &__tagline {
            height: 4vh;
            font-size: 4vw;
            padding: 5px;
        }

        &__abv {
            height: 3vh;
            font-size: 3vw;
        }
    }
}