* {
    margin: 0;
    padding: 0;
}

.card {
    height: 55vh;
    width: 30vw;
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__image {
        height: 40vh;
        width: auto;
    }
    &__heading {
        margin: 10px;
        font-size: 20px;
    }
    &__text {
        overflow: scroll;
        padding: 10px;
    }
    &__description {
        font-size: 12px;
    }
}