@use "../../../variables" as *;

* {
    margin: 0;
    padding: 0;
}

.heading {
    height: fit-content;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;

    &__text {
        font-family: $brewdog-font;
        height: 15vh;
        font-size: 4vw;
        margin: 15px;
        color: $color-black;
    }

    &__logo {
        height: 15vh;
        width: auto;
        margin: 15px;
    }
}

@media screen and (max-width: 720px) {

    .heading {
        flex-direction: column;
        margin: 0;
        padding: 0;

        &__text {
            display: none;
        }

        &__logo {
            height: 120px;
        }
    }
}