* {
    margin: 0;
    padding: 0;
}

.app {
    height: fit-content;
    width: 100vw;

    &__heading {
        height: fit-content;
        width: 100vw;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__text {
            font-size: 50px;
            margin: 15px;
        }
        &__logo {
            height: 100px;
            width: auto;
        }
    }
   

    &__content {
        height: fit-content;
        width: 100vw;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;

    }
    &__nav {
        border: 1px solid black;
        width: 20vw;
    }
    &__main {
        border: 1px solid black;
        width: 80vw;
    }
}