@use "../variables" as *;

* {
    margin: 0;
    padding: 0;
}

.app {
    height: fit-content;
    width: 100vw;
    background-color: rgb(184, 205, 223);

    &__content {
        height: fit-content;
        width: 100vw;
        display: flex;
        justify-content: space-between;

    }
}

.loading {
    width: auto;
    text-align: center;
    font-size: 3vw;
}

@media screen and (max-width: 720px) {

    .app {
        &__heading {
            flex-direction: column;
            &__text {
                display: none;
            }
            &__logo {
                height: 120px;
            }
        }
        
       &__content {
            flex-direction: column;
        }
    }
   
   
}
